
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Load static files and set metadata -->
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Airwell Mosquito Net Fitting - Product Details</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="{% static 'css/slick-theme1.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive1.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick1.css' %}">
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
    <style>

        .modal-content img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <style>
        .review-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .star-rating {
            color: #f8ce0b;
        }

        .write-review-btn {
            background-color: #28a745;
            color: white;
        }

        .review-item {
            border-bottom: 1px solid #ddd;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        .review-item:last-child {
            border-bottom: none;
        }

        .pagination {
            justify-content: center;
        }
    </style>
    <style>
        .product-images img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            transition: transform 0.3s ease;
        }

        .product-images img:hover {
            transform: scale(1.05);
        }

        .thumbnail img {
            width: 60px;
            height: 60px;
            cursor: pointer;
        }

        .price {
            color: #ff4e4e;
            font-weight: bold;
            font-size: 24px;
        }

        .original-price {
            text-decoration: line-through;
            color: #888;
        }

        .stock {
            color: green;
            font-weight: bold;
        }
        .star-rating {
    direction: rtl;
    display: inline-flex;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 24px;
    color: lightgray;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

    </style>
    
</head>

<body>

    <!-- Top Bar Section -->
    <section id="topbar" class="d-flex align-items-center">
        <!-- Container for top bar content -->
        <div class="container-fluid d-flex justify-content-center justify-content-md-between">
            <!-- Contact Information -->
            <div class="contact-info d-flex align-items-center">
                <ul>
                    <li><a href="mailto:airwellmosquitonetfittings215@gmail.com"><i
                                class="fas fa-envelope"></i>airwellmosquitonetfittings215@gmail.com</a> </li>
                    <li><a href="tel:+917907013081"><i class="fas fa-phone-alt"></i>+917907013081</a></li>
                </ul>
            </div>
            <!-- Social Media Links -->
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://www.facebook.com/airwellmosquitonetfittings215?mibextid=2JQ9oc" target="_blank"
                    class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/airwellmosquitonetfittings215?mibextid=2JQ9oc" target="_blank"
                    class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/airwellmosquitonetfittings215?igsh=MXNraWxyOWFrdjR3bQ=="
                    target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/airwellmosquitonetfittings215?mibextid=2JQ9oc" target="_blank"
                    class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </section>
    <!-- End Top Bar Section -->

    <!-- Header Section -->
    <header id="header" class="d-flex align-items-center">
        <!-- Container for header content -->
        <div class="container d-flex align-items-center justify-content-between">
            <!-- Navigation Bar -->
            <nav id="navbar" class="navbar">
                <a class="navbar-brand" href="{% url 'user_home' %}">AIRWELL MOSQUITO NET FITTINGS</a>
                <!-- Navigation Links -->
                <ul class="justify-content-end">
                    <li><a class="nav-link scrollto" href="{% url 'user_home' %}">Home</a></li>
                    <!-- Dropdown for Products -->
                    <li class="dropdown">
                        <a href="{% url 'user_product' %}">Products </a>

                    </li>
                    <li>
                        <a class="nav-link scrollto" href="{% url 'user_about' %}">About</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="{% url 'contact_user' %}">Contact</a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    <!-- End Header Section -->

    <!-- Product Detail Section -->
    <section class="product-detail-section">
        <!-- Container for product details -->
        <div class="container">
            <div class="row">
                {% comment %} <div class="col-md-6">
                    <div class="product-images mb-3">
                        <img id="mainImage" src="{{product.productimagemodel_set.all.first.product_image.url}}" alt="Product Image">
                    </div>
                    <div class="row">
                        {% for image in product.productimagemodel_set.all %}
                        <div class="col-3 thumbnail2">
                            <img src="{{ image.product_image.url }}" alt="Product Image 1" onclick="changeImage(this)">
                        </div>
                        {% endfor %}
                        
                    </div>
                </div> {% endcomment %}
                <!-- Product Images -->
                <div class="col-md-7">
                    <div class="product-photo-section">
                        <div class="product-full-size-img" id="large-image-container">
                            <img id="large-image" class="thumbnail123" src="" alt="">
                        </div>
                        <div class="product-sub-img-bx thumbnail-container">
                            <!-- Loop through product images -->
                            {% for image in product.productimagemodel_set.all %}
                            <div class="sub-img  ">
                                <img class="thumbnail"  src="{{ image.product_image.url }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Product Information --><div class="col-md-5 ">
            <h2>{{ product.product_name }}</h2>
            
            <div class="mb-3">
                
                <span class="price">₹ {{ product.product_price }}/sq ft</span>
            </div>
            <p><strong>Availability:</strong> <span class="stock">in stock</span></p>
            <ul>
                <li>Material - {{ product.product_material }}</li>
                <li>Color - {{ product.product_color }} </li>
                <li>Category - {{ product.product_category.category_name }}</li>
                
            </ul>
            <p class="my-3">{{ product.product_description }}</p>


            <a href="https://wa.me/+917907013081" target="_blank" class="product-prchs-btn">Contact Now</a>
        </div>
    </div>

                {% comment %} <div class="col-md-5">
                    <div class="product-pricing-sction">
                        <div class="product-name">
                            <span>{{ product.product_name }}</span>
                        </div>
                        <div class="product-price">
                            <span>₹ {{ product.product_price }}/sq ft</span>
                        </div>
                        <div class="prdct-mde-details">
                            <ul>
                                <!-- Display product details -->
                                <li>
                                    <div class="prdct-mde-dtl-hng">
                                        <span>Material</span>
                                    </div>
                                    <div class="product-mde-dtl-cntnt">
                                        <span>{{ product.product_material }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="prdct-mde-dtl-hng">
                                        <span>Color</span>
                                    </div>
                                    <div class="product-mde-dtl-cntnt">
                                        <span>{{ product.product_color }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="prdct-mde-dtl-hng">
                                        <span>Category</span>
                                    </div>
                                    <div class="product-mde-dtl-cntnt">
                                        <span>{{ product.product_category.category_name }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p>{{ product.product_description }}</p>
                        <!-- Button to contact for purchase -->
                        <a href="https://wa.me/+917907013081" target="_blank" class="product-prchs-btn">Contact Now</a>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </section>

     <!-- Product Reviews Section -->
     <div class="container my-5">
        <!-- Reviews Section -->
        <div class="reviews-section">
            <h4 class="mb-4">Customer Reviews</h4>
            
            <div class="review-header mb-4">
                <div>
                    <h5>{{ average_rating }} <span class="text-warning">
                        {% for i in "★★★★★" %}
                        {% if forloop.counter <= average_rating %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    {% endfor %}
                    </span> ({{ review_count }}  reviews)</h5>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
                    Rate/Review This Product
                </button>
            </div>
            <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reviewModalLabel">Submit Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="rating" class="form-label">Rating</label>
                                    <div class="star-rating">
                                        <!-- Input for rating with stars -->
                                        <input type="radio" name="rating" value="5" id="5" required><label for="5">★</label>
                                        <input type="radio" name="rating" value="4" id="4"><label for="4">★</label>
                                        <input type="radio" name="rating" value="3" id="3"><label for="3">★</label>
                                        <input type="radio" name="rating" value="2" id="2"><label for="2">★</label>
                                        <input type="radio" name="rating" value="1" id="1"><label for="1">★</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="User" class="form-label">Your Name</label>
                                    <input name="name" class="form-control" id="user" rows="3" placeholder="Type Your Name Here" required />
                                </div>
                                <div class="mb-3">
                                    <label for="comment" class="form-label">Comment</label>
                                    <textarea name="comment" class="form-control" id="comment" rows="3" placeholder="Type Review Here" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Sort By Option -->
            
            <!-- Review List -->
            {% for review in reviews %}
            <div class="review-item">
                <h6>{{ review.user }} <span class="text-warning">
                    {% for i in "★★★★★" %}
                        {% if forloop.counter <= average_rating %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    {% endfor %}
                </span></h6>
                <small class="text-muted">{{ review.created_at|date:"F jS, Y H:i:s A" }}</small>
                <p>{{ review.comment }}.</p>
            </div>
            {% empty %}
        <p>No reviews yet. Be the first to review!</p>
        {% endfor %}
    
            
    
            <!-- Pagination -->
           
        </div>
    </div>


    <!-- Footer Section -->
    <footer id="footer">
        <!-- Footer Content -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-links">
                        <!-- Useful Links -->
                        <h4>Useful Links</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="{% url 'user_home' %}">Home</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="{% url 'user_product' %}">Product</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="{% url 'user_about' %}">About</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="{% url 'contact_user' %}">Contact</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="{% url 'privacy_policy' %}">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <!-- Social Networks -->
                        <h4>Our Social Networks</h4>
                        <div class="social-links mt-3">
                            <!-- Links to social media profiles -->
                            <a href="mailto:airwellmosquitonetfittings215@gmail.com" class="twitter" target="_blank"><i
                                    class="bx bx-envelope"></i></a><span> Airwell</span><br /><br />
                            <a href="https://www.facebook.com/airwellmosquitonetfittings215?mibextid=2JQ9oc"
                                target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a><span>
                                Facebook</span><br /><br />
                            <a href="https://www.instagram.com/airwellmosquitonetfittings215?igsh=MXNraWxyOWFrdjR3bQ=="
                                target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a><span>
                                AirWell</span><br /><br />
                            <a href="https://wa.me/+917907013081" target="_blank" class="google-plus"><i
                                    class="bx bx-phone-call"></i></a><span>
                                +917907013081</span><br /><br />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 footer-links">
                        <!-- Contact Form -->
                        <form method="post" role="form" class="php-email-form" id="myForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required />
                                </div>
                                <div class="col form-group">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div hidden id="message">
                                    <p class="text-info fs-6">Thank you for reaching out to Airwell! We've received your
                                        message and will get back to you shortly.</p>
                                </div>
                            </div>
                            <div class="text-center btn btn-outline">
                                <button type="submit" class="btn" id="submitForm">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright Information -->
        <div class="copy-rght-sectin">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Airwell Mosquito Net Fittings</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Back to Top Button -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

    <!-- Font Awesome Icon Library -->
    <script src="https://kit.fontawesome.com/ef28b1feab.js" crossorigin="anonymous"></script>

    <!-- Custom Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/coutome.js' %}"></script>
    <script>
        function changeImage(element) {
            document.getElementById('mainImage').src = element.src;
        }
    </script>

    <!-- AJAX Form Submission Script -->
    <script>
        $(document).ready(function () {
            $("#myForm").submit(function (e) {
                e.preventDefault(); // Prevent the default form submission
                var formData = $(this).serialize(); // Serialize form data
                $.ajax({
                    url: "{% url 'user_contact' %}", // Replace 'user_contact' with the URL of your Django view
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        $("#message").removeAttr("hidden");
                        $("#myForm")[0].reset(); // Reset form
                    },
                    error: function (xhr, status, error) {
                        $("#message").attr("hidden", true);
                        console.error(xhr.responseText); // Log error message
                        $(".error-message").html("An error occurred. Please try again later."); // Show error message
                    }
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
        $(document).ready(function(){
            $('.thumbnail123').click(function(){
                var imgSrc = $(this).attr('src');
                $('#fullImage').attr('src', imgSrc);
                $('#imageModal').modal('show');
            });
        });
    </script>

    <!-- Modal Structure -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" id="fullImage" class="img-fluid" alt="Full Image">
                </div>
            </div>
        </div>
    </div>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/67178b924304e3196ad58d5e/1iapviddh';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>